* {
  box-sizing: border-box;
}
/* header */
.header {
  width: 1200px;
  height: 100px;
  background-color: grey;
  margin: 0 auto;
}
/* contain */
.contain {
  display: flex;
  margin: 0 auto;
  width: 1200px;
}

/* side */
.side {
  margin: 0 auto;
  width: 300px;
}
.side1 {
  width: 300px;
  height: 500px;
  background-color: #6d9788;
}
.side2 {
  width: 300px;
  height: 500px;
  background-color: #95d293;
}

/* main */
.mainbanner {
  width: 900px;
  height: 400px;
  margin: 0 auto;
  background-color: #1ec3ba;
}

.box {
  width: 450px;
  height: 300px;
}

#box1 {
  background-color: red;
  float: left;
}

#box2 {
  background-color: blue;
  float: left;
}

#box3 {
  background-color: aqua;
  float: left;
}

#box4 {
  background-color: black;
  float: left;
}
